/* rem and em NOT depend on html font-size in media queries, Instead 1rem = 1em = 16px */

/******************************/
/* BELOW 1344px (Smaller Desktops)*/
/******************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem; /* html de tanımladığımız rem (10px) olarak görür.  */
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/******************************/
/* BELOW 1200px (Landscape Tablets)*/
/******************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }
  .testimonial-container {
    padding: 9.6rem 3.2rem;
  }
}
