/* rem and em NOT depend on html font-size in media queries, Instead 1rem = 1em = 16px */

/******************************/
/* BELOW 1344px (Smaller Desktops)*/
/******************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem; /* html de tanımladığımız rem (10px) olarak görür.  */
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
